/*
**************************************************************
  @author : Akeel M.N.M
  Registration Number : IT19153414
************************************************************
*/

#searchInput {
  padding: 10px;
  width: 900px;
}

#searchMDiv {
  padding: 20px 20px 80px 20px;
  margin-left: 150px;
}

#searchInputResult {
  padding: 10px;
  width: 750px;
}

#searchBtn {
  position: relative;
  display: block;
  padding: 10px 5px 10px 5px;
  color: #fff;
  background: #36988c;
  font-size: 16px;
  font-style: normal;
  width: 80%;
  border: 1px solid #36988c;
  border-radius: 3px;
  margin-right:35px;
}

#searchBtn:hover {
  background: #359083;
  cursor: pointer;
}

#viewMain {
  width: 75%;
  margin-left: 220px;
}

#headingLabel {
  font-size: 25px;
  margin-top: 10px;
  display: inline-block;
  font-weight: bold;
}

#viewDiv {
  width: 87%;
  height: 40px;
  border-style: groove;
  border-radius: 5px;
  margin-top: 40px;
  margin-left: 40px;
}

#viewSmall {
  width: 56%;
  float: left;
  padding: 8px;
}

.buttonDiv {
  width: 6%;
  float: right;
  margin-top: -5px;
}

#yearLabel {
  margin-left: 100px;
}

#termLabel {
  margin-left: 80px;
}

#resNotDiv{
  width: 250px;
  margin: 0 auto;
  align: center;
}

#resNotLabel{
  font-size: 20px;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/**
    For ManageResults Component
 */


#searchTypeDiv {
  width: 100px;
  float: left;
  margin-right: 105px;
  margin-top: 5px;
}


#searchTxtMRDiv {
  width: 780px;
  float: left;
}

#searchBtnMRDiv {
  width: 200px;
  float: left;
}

.seTypeSel {
  width: 200px;
  height: 40px;
  margin-top: -5px;
}

#loadingButtonDiv{
  width: 255px;
  height: auto;
  text-align: center;
  margin-right:auto;
  margin-left:auto;
  margin-top: 19px;
}

#loadingButton{
  display: block;
  color: #fff;
  padding: 8px;
  background: #36988c;
  font-size: 16px;
  font-style: normal;
  border: 1px solid #36988c;
  border-radius: 3px;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
