/*
**************************************************************
  @author : A.M Zumry
  Registration Number : IT19175126
************************************************************
*/

/* --------------------
Manage Class CSS
-------------------- */

.ManageClass-Section .box {
    position: relative;
    width: 100%;
    height:80px;
    display: inline-block;
    margin:30px 0 0 0px;
    text-align: center;
}

.ManageClass-Section .custom-underline {
    position: relative;
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    font-family: "Raleway", sans-serif;
}

.ManageClass-Section #searchDiv{
    width: 71%;
    padding: 20px;
    margin-left: 200px;
}

.ManageClass-Section #searchInput{
    padding: 10px;
    width: 900px;
}

.ManageClass-Section #searchBtn{
    position: relative;
    display: block;
    padding: 10px 5px 10px 5px;
    color: #FFF;
    background: #36988c;
    font-size: 16px;
    font-style: normal;
    width: 14%;
    border: 1px solid #36988c;
    border-radius: 3px;
    float: right;
    margin-right: 5px;
}

.ManageClass-Section #searchBtn:hover{
    background: #359083;
    cursor: pointer;
}

/* --------------------
Class List Holder CSS
-------------------- */

.ClassListHolder #viewMain{
    width: 75%;
    margin-left: 220px;
}

.ClassListHolder #headingLabel{
    font-size: 25px;
    margin-top: 10px;
    display: inline-block;
    font-weight: bold;
}

.ClassListHolder #viewDiv{
    width: 80%;
    height: 40px;
    border-style: groove;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 15px;
}

.ClassListHolder #viewSmall{
    width: 82%;
    float: left;
    padding: 10px;
}

.ClassListHolder .buttonDiv{
    width: 6%;
    float: right;
    margin-top: -5px;
}

.ClassListHolder #ClassLabel{
    margin-left: 70px;
}

.ClassListHolder #TypeLabel{
    margin-left: 130px;
}

.ClassListHolder #TeacherLabel{
    margin-left: 130px;
}
/* ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++*//* ---------------------------------------------------------------------- */


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++*/


/*.btnEDiv{*/
/*    padding: 20px;*/
/*    width: 94%;*/
/*    float: left;*/
/*    margin-left: 28px;*/
/*}*/

/*#submitRBtn{*/
/*    position: relative;*/
/*    display: block;*/
/*    padding: 10px 5px 10px 5px;*/
/*    color: #FFF;*/
/*    background: #36988c;*/
/*    font-size: 16px;*/
/*    font-style: normal;*/
/*    width: 25%;*/
/*    border: 1px solid #36988c;*/
/*    border-radius: 3px;*/
/*    float: right;*/
/*    margin-right: 5px;*/

/*}*/

/*#submitRBtn:hover{*/
/*    background: #359083;*/
/*    cursor: pointer;*/
/*}*/

/*#restRBtn{*/
/*    position: relative;*/
/*    display: block;*/
/*    padding: 10px 5px 10px 5px;*/
/*    color: #FFF;*/
/*    background: #f44336;*/
/*    font-size: 16px;*/
/*    font-style: normal;*/
/*    width: 10%;*/
/*    border: 1px solid #f44336;*/
/*    border-radius: 3px;*/
/*    float: right;*/
/*    margin-right: 5px;*/
/*}*/

/*#restRBtn:hover{*/
/*    background: #d32f2f;*/
/*    cursor: pointer;*/
/*}*/

/* ---------------------------------------------------------------------- */

