img{
    width: 100%;
}
.login {
    height: 721px;
    width: 100%;
    background: radial-gradient(#465462, #465462);
    position: relative;
}
.login_box {
    width: 1050px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #0004;
    display: flex;
    overflow: hidden;
}
.login_box .left{
    width: 41%;
    height: 100%;
    padding: 25px 25px;

}
.login_box .right{
    width: 59%;
    height: 100%
}
.left .top_link a {
    color: #465462;
    font-weight: 400;
}
.left .top_link{
    height: 20px
}
.left .contact{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 73%;
    margin: auto;
}
.left h3{
    text-align: center;
    margin-bottom: 30px;
    font-size:28px;
}
.left input {
    border: none;
    margin: 15px 0;
    border-bottom: 1px solid #4f30677d;
    padding: 7px 9px;
    width: 100%;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
}
.left{
    background: linear-gradient(-45deg, #dcd7e0, #fff);
}
.submit {
    border: none;
    padding: 15px 120px;
    border-radius: 8px;
    display: block;
    margin: 50px auto auto;
    background: #465462;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0 9px 15px -11px rgba(88,54,114,1);
    -moz-box-shadow: 0 9px 15px -11px rgba(88,54,114,1);
    box-shadow: 0 9px 15px -11px rgba(88,54,114,1);
    cursor: pointer;
}

.right {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image:linear-gradient(340.38deg, rgb(40 71 102 / 70%) 0%, rgb(118 64 43 / 71%) 100%),url(../assets/images/LoginImage.jpg);
    color: black;
    position: relative;
}

.right .right-text{
    position: relative;
    transform: translate(0%, 120%);
}
.right-text h2{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    color:white;
    font-family:'Open Sans', sans-serif;
}
.right-text h5{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
}

.right .right-inductor{
    position: absolute;
    width: 70px;
    height: 7px;
    background: #fff0;
    left: 50%;
    bottom: 70px;
    transform: translate(-50%, 0%);
}
.top_link img {
    width: 28px;
    padding-right: 7px;
    margin-top: -3px;
}

.forgotText{
    font-size: 14px;
    font-family: "Raleway", sans-serif;
}

#aboutUsLink{
    text-decoration: none;
    color:blue;
    font-family: "Raleway", sans-serif;
}
