/*
**************************************************************
  @author : A.M Zumry
  Registration Number : IT19175126
************************************************************
*/

.outer-shadow-attendance {
    box-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
}

/* --------------------
Attendance title section
-------------------- */
.attendance-section-title {
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 60px;
}
.attendance-section-title h2 {
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    margin: 0;
}
/*.attendance-section .attendance-section-title {*/
/*    position: relative;*/
/*    display: block;*/
/*    width: 100%;*/
/*}*/

.attendance-section .attendance-custom-underline {
    position: relative;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    font-family: "Raleway", sans-serif;
}

.attendance-section .attendance-section-title{
    position: relative;
    display: block;
    width: 100%;
    height:125px;
    display: inline-block;
    font-size: 30px;
    margin:30px 0 0 0px;
    text-align: center;
}

/*.attendance-section-title .attendance-custom-underline::after {*/
/*    top: 65%;*/
/*    height: 2px !important;*/
/*    width: 40%;*/
/*    left: 31% ;*/
/*    margin-top: 20px;*/
/*    background-color: black;*/
/*    transition: 0.4s ease-out all .1s;*/
/*}*/

/*.attendance-section-title:hover .attendance-custom-underline::after {*/
/*    width: 90%;*/
/*    left: 5%;*/
/*    transition: 0.5s ease all;*/
/*}*/

/* --------------------
attendance section
-------------------- */

.attendance-section{
    padding: 0 0 80px;
    min-height: 88vh;
    background-color: #F0F0F0;
}
.attendance-container {
    max-width: 1250px;
    margin: auto;
    /*background-color:red;*/
}
.attendance-row {
    display: flex;
    flex-wrap: wrap;
}
.attendance-row .attendance-item {
    flex: 0 0 97%;
    max-width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    /*background-color: #d15a08;*/
}
.attendance-row .attendance-item-inner{
    flex:0 0 93%;
    padding: 50px 15px;
    border-radius: 5px;
    width: 97%;
    margin: auto;
    /*background-color:#6ca69f;*/
    /*box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3);*/
}

.attendance-row .attendance-item-big-inner{
    flex:0 0 98%;
    padding: 50px 15px;
    /*padding: 50px 15px;*/
    border-radius: 5px;
    width: 100%;
    margin: auto;
    /*background-color:orange;*/
}

#attendance-big-item-end{
    padding-bottom: 50px;
}

.attendance-form-div{
    padding-top: 20px;
}

/**
  ************************************************************************************
 */